ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.App {
  color: #333;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-area {
  display: flex;
}

.menu {
  width: 32px;
  height: 50px;
  background-image: url("https://static.wanted.co.kr/images/icon-menu.png");
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 17px 14px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 17px;
}

.nav-area {
  height: inherit;
}

.nav-area ul {
  width: 100%;
  display: flex;
  height: inherit;
}
.nav-area ul li {
  height: inherit;
  line-height: 50px;
}
.nav-area ul li a {
  padding: 15px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
}
.nav-area ul li a:hover::after {
  display: block;
  content: "";
  height: 2px;
  background: #ccc;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.nav-area ul li a.new::before {
  content: "New";
  width: auto;
  height: auto;
  color: #36f;
  font-size: 10px;
  right: -9px;
  text-align: left;
  position: absolute;
  top: -8px;
}
.nav-area ul li a.beta::before {
  content: "Beta";
  width: auto;
  height: auto;
  color: #36f;
  font-size: 10px;
  right: -9px;
  text-align: left;
  position: absolute;
  top: -8px;
}

.user-info-area {
  display: flex;
  align-items: center;
}

.user-info-area .ico {
  padding: 0 10px;
  cursor: pointer;
}

.ico.alert-button {
  margin-right: 10px;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 5px;
}
.img-wrap {
  width: 28px;
  height: 28px;
  margin: 1px auto;
  overflow: hidden;
  border-radius: 28px;
}
.user-avatar img {
  width: 100%;
}

.divider {
  margin: 10px;
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
}

.button-area button {
  padding: 0px 10px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 30px;
  background-color: #fff;
  font-size: 13px;
  color: #666;
}

.carousel {
  width: 100%;
  height: 300px;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}

.banner-wrapper {
  position: absolute;
  display: flex;
  height: inherit;
  transition: transform 0.5s ease 0s;
}

.carousel-banner {
  width: 1060px;
  height: inherit;
  margin: 0 12px;
  position: relative;
}

.carousel-button {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  opacity: 0.5;
  top: 120px;
  width: 30px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid transparent;
  cursor: pointer;
}
.carousel-button:hover {
  opacity: 0.9;
}

.carousel-button.left {
  left: calc((100% - 1210px) / 2);
}
.carousel-button.right {
  right: calc((100% - 1200px) / 2);
}

.banner-text {
  left: 34px;
  bottom: 28px;
  position: absolute;
  background-color: #fff;
  opacity: 1;
  border-radius: 4px;
  z-index: 100;
}
.banner-text h2 {
  font-size: 20px;
  margin: 20px 20px 0px;
  color: #333;
  font-weight: 700;
}
.banner-text div {
  color: #333;
  line-height: 1.64;
  font-size: 14px;
  margin: 0 20px;
  height: 44px;
}
.banner-text button {
  width: 100%;
  border: 0 none;
  padding: 10px 20px;
  border-top: 1px solid #e1e2e3;
  background-color: white;
  text-align: left;
  color: #36f;
  font-size: 14px;
  font-weight: 700;
}
.banner-text button svg {
  width: 14px;
  margin-top: 2px;
  fill: #36f;
}
